{% extends "base.html.twig" %}
{% block title %}START{% endblock %}
{% block body %}

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-6 text-center">
            <h1>OussGame</h1>
            <p>by Oussman SOARE ©</p>
            <a href="{{ path('choiceJ1.index') }}" class="btn btn-lg btn-primary" type="button">START</a>
        </div>
    </div>

{% endblock %}